<div class="overlay"></div>
<div class="root-container">
  <div class="navbar">
    <div class="nav-items">
      <a [routerLink]="['/portfolio']" class="nav-item">Portfolio</a>
      <a [routerLink]="['/about']" class="nav-item">About & Skills</a>
      <a [routerLink]="['/profiles']" class="nav-item">Profiles</a>
    </div>
  </div>
  <div class="container">
    <app-dp-logo></app-dp-logo>
    <!-- What is short bio?
      Your name
      Your current job title
      Your company name or personal branc statement
      Your hometown
      your alma mater
      Your personal and professional goals
      A relevant achievemen† or accomplishment
      Your hobbies
      Your skills and areas of expertise
    -->
    <h4 class="short-bio">Developer | Jiayin</h4>
    <!-- 保持专注，持续学习，精益求精 -->
    <q class="quote">Stay focused, keep learning and improving</q>
    <div class="name">
      <p>Wang Xu</p>
      <div class="strip"></div>
    </div>
    <div (mouseover)="startTadaAnimation = false;" [ngClass]="{'tada-animation': startTadaAnimation}">
      <button class="special-btn">
        <span (click)="onExploreMeClick()">Expore me</span>
      </button>
    </div>
    <div class="stick">
      <div class="stick-design"></div>
    </div>
  </div>
</div>
