<div (appEscCancellation)="onBgClick()" (click)="onBgClick()" appEscCancellation class="navigator-container">
  <div @slideIn class="navLinks">
    <div (click)="onNavItemClick($event, nav.url)" *ngFor="let nav of navLinks; let isEven = even;"
         [ngStyle]="{ transform: isEven ? 'translateX(10%)' : 'translateX(-10%)' }"
         class="navLink"
    >
      <div [ngStyle]="{ transform: isEven ? 'translateX(-10%)' : 'translateX(10%)' }">{{ nav.displayName }}</div>
    </div>
  </div>
</div>
